{% extends '/base.html.twig' %}

{% block title %}Articles list{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/articles.js') }}"></script>
{% endblock %}

{% block body %}
        <table>
        {% for article in articles  %}
            <tr>
                <td>{{ article.id }}</td>
                <td>
                    <a href="{{ path('articles_show', { id: article.id }) }}">
                        {{ article.title }}
                    </a>
                </td>
                <td>{{ article.tags|join(',') }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
